* {
    box-sizing: border-box;
  }

  body {
    background-color: #f1f1f1;
  }

  .calculadora {
    max-width:320px;
    background: black;
    
  }

  .calculadora__botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 0;
    background-color: black;
    gap: 1.5px;
  }

  .valor-display {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    padding-right: 5px;
    height: 5rem;
    font-size:1em;
  }

  .btn{
    font-size:1em;
    height: 65px;
    border:1px solid black;
}

.btn:hover{
  background-color: rgb(228, 211, 211);
}

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  .tomate {
    background-color: tomato;
  }